<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main menu</title>
</head>
<body>
    <a href="/new">
        <button>Create course</button>
    </a>
    <div style="display: flex; justify-content: space-evenly; flex-wrap: wrap;">
        <% if (courses.length > 0) {%>
            <% courses.forEach(course => { %>
            <a href="/courses/<%= course._id || course.id %>" style="text-decoration: none; color: inherit;">
                <div style="background-color: aquamarine; padding: 12px; margin: 8px; border-radius: 8px; min-width: 220px;">
                    <p>Name : <%= course.name %> </p>
                    <p>Language : <%= course.lang %> </p>
                    <p>Context : <%= course.context %></p>
                </div>
            </a>
            <% }); %>
        <% } %>
    </div>
</body>
</html>
